Loading Dataset

In [2]:
import numpy as np
import pandas as pd

In [3]:
house = pd.read_csv("Pune house data.csv")
house.head()

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road

In [4]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

Data Preprocessing

In [5]:
house.drop(columns=["area_type", "availability", "society"], inplace=True)

In [6]:
house.head()

        size total_sqft  bath  balcony   price    site_location
0      2 BHK       1056   2.0      1.0   39.07      Alandi Road
1  4 Bedroom       2600   5.0      3.0  120.00  Ambegaon Budruk
2      3 BHK       1440   2.0      3.0   62.00       Anandnagar
3      3 BHK       1521   3.0      1.0   95.00            Aundh
4      2 BHK       1200   2.0      1.0   51.00       Aundh Road

In [7]:
house.shape

(13320, 6)

In [8]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13304 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13247 non-null  float64
 3   balcony        12711 non-null  float64
 4   price          13320 non-null  float64
 5   site_location  13319 non-null  object
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

In [9]:
house['balcony'].value_counts()

balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64

In [10]:
house.dropna(inplace=True)

In [11]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12710 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           12710 non-null  object
 1   total_sqft     12710 non-null  object
 2   bath           12710 non-null  float64
 3   balcony        12710 non-null  float64
 4   price          12710 non-null  float64
 5   site_location  12710 non-null  object
dtypes: float64(3), object(3)
memory usage: 695.1+ KB

In [12]:
house.describe()

               bath       balcony         price
count  12710.000000  12710.000000  12710.000000
mean       2.617388      1.584500    106.064790
std        1.225992      0.817175    131.764701
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     49.062500
50%        2.000000      2.000000     70.000000
75%        3.000000      2.000000    115.000000
max       40.000000      3.000000   2912.000000

In [13]:
house['bhk'] = house['size'].str.split().str.get(0).astype(int)

In [14]:
house.head()

        size total_sqft  bath  balcony   price    site_location  bhk
0      2 BHK       1056   2.0      1.0   39.07      Alandi Road    2
1  4 Bedroom       2600   5.0      3.0  120.00  Ambegaon Budruk    4
2      3 BHK       1440   2.0      3.0   62.00       Anandnagar    3
3      3 BHK       1521   3.0      1.0   95.00            Aundh    3
4      2 BHK       1200   2.0      1.0   51.00       Aundh Road    2

In [15]:
house.drop(columns='size', inplace=True)

In [16]:
house['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [17]:
house[house.bhk>20]

     total_sqft  bath  balcony  price  site_location  bhk
1718       8000  27.0      0.0  230.0  Uruli Devachi   27
4684       2400  40.0      0.0  660.0  Salunke Vihar   43

In [18]:
house.reset_index(inplace=True)

In [19]:
house[house.bhk>20]

      index total_sqft  bath  balcony  price  site_location  bhk
1635   1718       8000  27.0      0.0  230.0  Uruli Devachi   27
4445   4684       2400  40.0      0.0  660.0  Salunke Vihar   43

In [20]:
house.head()

   index total_sqft  bath  balcony   price    site_location  bhk
0      0       1056   2.0      1.0   39.07      Alandi Road    2
1      1       2600   5.0      3.0  120.00  Ambegaon Budruk    4
2      2       1440   2.0      3.0   62.00       Anandnagar    3
3      3       1521   3.0      1.0   95.00            Aundh    3
4      4       1200   2.0      1.0   51.00       Aundh Road    2

In [21]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12710 entries, 0 to 12709
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          12710 non-null  int64
 1   total_sqft     12710 non-null  object
 2   bath           12710 non-null  float64
 3   balcony        12710 non-null  float64
 4   price          12710 non-null  float64
 5   site_location  12710 non-null  object
 6   bhk            12710 non-null  int32
dtypes: float64(3), int32(1), int64(1), object(2)
memory usage: 645.6+ KB

In [22]:
house.drop(columns='index', inplace=True)

In [23]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12710 entries, 0 to 12709
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   total_sqft     12710 non-null  object
 1   bath           12710 non-null  float64
 2   balcony        12710 non-null  float64
 3   price          12710 non-null  float64
 4   site_location  12710 non-null  object
 5   bhk            12710 non-null  int32
dtypes: float64(3), int32(1), object(2)
memory usage: 546.3+ KB

In [24]:
house

      total_sqft  bath  balcony   price         site_location  bhk
0           1056   2.0      1.0   39.07           Alandi Road    2
1           2600   5.0      3.0  120.00       Ambegaon Budruk    4
2           1440   2.0      3.0   62.00            Anandnagar    3
3           1521   3.0      1.0   95.00                 Aundh    3
4           1200   2.0      1.0   51.00            Aundh Road    2
...          ...   ...      ...     ...                   ...  ...
12705       1715   3.0      3.0  112.00       Parvati Darshan    3
12706       3453   4.0      0.0  231.00                Pashan    5
12707       1141   2.0      1.0   60.00              Pirangut    2
12708       4689   4.0      1.0  488.00          Prabhat Road    4
12709        550   1.0      1.0   17.00  Pune Railway Station    1

[12710 rows x 6 columns]

In [25]:
house = house[house.bhk<=20]

In [26]:
house

      total_sqft  bath  balcony   price         site_location  bhk
0           1056   2.0      1.0   39.07           Alandi Road    2
1           2600   5.0      3.0  120.00       Ambegaon Budruk    4
2           1440   2.0      3.0   62.00            Anandnagar    3
3           1521   3.0      1.0   95.00                 Aundh    3
4           1200   2.0      1.0   51.00            Aundh Road    2
...          ...   ...      ...     ...                   ...  ...
12705       1715   3.0      3.0  112.00       Parvati Darshan    3
12706       3453   4.0      0.0  231.00                Pashan    5
12707       1141   2.0      1.0   60.00              Pirangut    2
12708       4689   4.0      1.0  488.00          Prabhat Road    4
12709        550   1.0      1.0   17.00  Pune Railway Station    1

[12708 rows x 6 columns]

In [27]:
house[house.bhk>20]

Empty DataFrame
Columns: [total_sqft, bath, balcony, price, site_location, bhk]
Index: []

In [28]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12708 entries, 0 to 12709
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   total_sqft     12708 non-null  object
 1   bath           12708 non-null  float64
 2   balcony        12708 non-null  float64
 3   price          12708 non-null  float64
 4   site_location  12708 non-null  object
 5   bhk            12708 non-null  int32
dtypes: float64(3), int32(1), object(2)
memory usage: 645.3+ KB

In [29]:
house.reset_index(inplace=True)

In [30]:
house

       index total_sqft  bath  balcony   price         site_location  bhk
0          0       1056   2.0      1.0   39.07           Alandi Road    2
1          1       2600   5.0      3.0  120.00       Ambegaon Budruk    4
2          2       1440   2.0      3.0   62.00            Anandnagar    3
3          3       1521   3.0      1.0   95.00                 Aundh    3
4          4       1200   2.0      1.0   51.00            Aundh Road    2
...      ...        ...   ...      ...     ...                   ...  ...
12703  12705       1715   3.0      3.0  112.00       Parvati Darshan    3
12704  12706       3453   4.0      0.0  231.00                Pashan    5
12705  12707       1141   2.0      1.0   60.00              Pirangut    2
12706  12708       4689   4.0      1.0  488.00          Prabhat Road    4
12707  12709        550   1.0      1.0   17.00  Pune Railway Station    1

[12708 rows x 7 columns]

In [31]:
house.drop(columns='index')

      total_sqft  bath  balcony   price         site_location  bhk
0           1056   2.0      1.0   39.07           Alandi Road    2
1           2600   5.0      3.0  120.00       Ambegaon Budruk    4
2           1440   2.0      3.0   62.00            Anandnagar    3
3           1521   3.0      1.0   95.00                 Aundh    3
4           1200   2.0      1.0   51.00            Aundh Road    2
...          ...   ...      ...     ...                   ...  ...
12703       1715   3.0      3.0  112.00       Parvati Darshan    3
12704       3453   4.0      0.0  231.00                Pashan    5
12705       1141   2.0      1.0   60.00              Pirangut    2
12706       4689   4.0      1.0  488.00          Prabhat Road    4
12707        550   1.0      1.0   17.00  Pune Railway Station    1

[12708 rows x 6 columns]

In [32]:
house['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [33]:
house['total_sqft'].isna().sum()

0

In [34]:
def convertRange(x):
    temp = x.split("-")
    if len(temp)==2:
        return (float(temp[0]) + float(temp[1])) / 2
    try:
        return float(x)
    except:
        return None

In [35]:
house['total_sqft'] = house['total_sqft'].apply(convertRange)

C:\Users\Probal\AppData\Local\Temp\ipykernel_16772\3786732367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house['total_sqft'] = house['total_sqft'].apply(convertRange)

In [36]:
house['total_sqft'].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [37]:
house.drop(columns='index', inplace=True)

C:\Users\Probal\AppData\Local\Temp\ipykernel_16772\1888149268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house.drop(columns='index', inplace=True)

In [38]:
house

       total_sqft  bath  balcony   price         site_location  bhk
0          1056.0   2.0      1.0   39.07           Alandi Road    2
1          2600.0   5.0      3.0  120.00       Ambegaon Budruk    4
2          1440.0   2.0      3.0   62.00            Anandnagar    3
3          1521.0   3.0      1.0   95.00                 Aundh    3
4          1200.0   2.0      1.0   51.00            Aundh Road    2
...           ...   ...      ...     ...                   ...  ...
12703      1715.0   3.0      3.0  112.00       Parvati Darshan    3
12704      3453.0   4.0      0.0  231.00                Pashan    5
12705      1141.0   2.0      1.0   60.00              Pirangut    2
12706      4689.0   4.0      1.0  488.00          Prabhat Road    4
12707       550.0   1.0      1.0   17.00  Pune Railway Station    1

[12708 rows x 6 columns]

In [39]:
house.describe()

         total_sqft          bath       balcony         price           bhk
count  12666.000000  12708.000000  12708.000000  12708.000000  12708.000000
mean    1511.306482      2.612528      1.584750    106.011448      2.732137
std     1160.719563      1.160392      0.816997    131.678813      1.130718
min        5.000000      1.000000      0.000000      8.000000      1.000000
25%     1100.000000      2.000000      1.000000     49.050000      2.000000
50%     1260.000000      2.000000      2.000000     70.000000      3.000000
75%     1640.000000      3.000000      2.000000    115.000000      3.000000
max    52272.000000     15.000000      3.000000   2912.000000     14.000000

In [40]:
house['total_sqft'].isna().sum()

42

In [41]:
house.dropna(inplace=True)

C:\Users\Probal\AppData\Local\Temp\ipykernel_16772\3485570238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house.dropna(inplace=True)

In [42]:
house.reset_index(inplace=True)

In [43]:
house.drop(columns='index', inplace=True)

C:\Users\Probal\AppData\Local\Temp\ipykernel_16772\1888149268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house.drop(columns='index', inplace=True)

In [44]:
house

       total_sqft  bath  balcony   price         site_location  bhk
0          1056.0   2.0      1.0   39.07           Alandi Road    2
1          2600.0   5.0      3.0  120.00       Ambegaon Budruk    4
2          1440.0   2.0      3.0   62.00            Anandnagar    3
3          1521.0   3.0      1.0   95.00                 Aundh    3
4          1200.0   2.0      1.0   51.00            Aundh Road    2
...           ...   ...      ...     ...                   ...  ...
12661      1715.0   3.0      3.0  112.00       Parvati Darshan    3
12662      3453.0   4.0      0.0  231.00                Pashan    5
12663      1141.0   2.0      1.0   60.00              Pirangut    2
12664      4689.0   4.0      1.0  488.00          Prabhat Road    4
12665       550.0   1.0      1.0   17.00  Pune Railway Station    1

[12666 rows x 6 columns]

In [45]:
house['price_per_sq_ft'] = house['price']*100000 / house['total_sqft']
house['price_per_sq_ft']

C:\Users\Probal\AppData\Local\Temp\ipykernel_16772\2829483053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house['price_per_sq_ft'] = house['price']*100000 / house['total_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
12661     6530.612245
12662     6689.834926
12663     5258.545136
12664    10407.336319
12665     3090.909091
Name: price_per_sq_ft, Length: 12666, dtype: float64

In [46]:
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,12666.000000,12666.000000,12666.000000,12666.000000,12666.000000,1.266600e+04
mean,1511.306482,2.611480,1.586057,105.903138,2.731407,6.875089e+03
std,1160.719563,1.157924,0.816466,131.725570,1.127843,2.263455e+04
min,5.000000,1.000000,0.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,1.000000,49.030000,2.000000,4.243306e+03
50%,1260.000000,2.000000,2.000000,70.000000,3.000000,5.376344e+03
75%,1640.000000,3.000000,2.000000,115.000000,3.000000,7.142857e+03
max,52272.000000,15.000000,3.000000,2912.000000,14.000000,2.300000e+06

In [47]:
house['site_location'].value_counts()

site_location
Wagholi             136
Dhole Patil Road    136
Nana Peth           136
Kasba Peth          136
Kalyani Nagar       136
                   ...
Vadgaon Budruk      127
Shivaji Nagar       127
Aundh               127
Manik Bagh          127
other                 1
Name: count, Length: 97, dtype: int64

In [48]:
house = house[((house['total_sqft'] / house['bhk']) >= 300)]
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000
mean,1542.372588,2.511862,1.587780,105.007894,2.607342,6206.213093
std,1181.080695,1.006206,0.808746,134.204258,0.922976,3985.465773
min,300.000000,1.000000,0.000000,9.000000,1.000000,267.829813
25%,1107.000000,2.000000,1.000000,48.450000,2.000000,4199.565960
50%,1285.000000,2.000000,2.000000,68.000000,2.000000,5253.456221
75%,1660.000000,3.000000,2.000000,110.000000,3.000000,6823.529412
max,52272.000000,13.000000,3.000000,2912.000000,13.000000,176470.588235

In [49]:
house.shape

(12013, 7)

In [50]:
house

,total_sqft,bath,balcony,price,site_location,bhk,price_per_sq_ft
0,1056.0,2.0,1.0,39.07,Alandi Road,2,3699.810606
1,2600.0,5.0,3.0,120.00,Ambegaon Budruk,4,4615.384615
2,1440.0,2.0,3.0,62.00,Anandnagar,3,4305.555556
3,1521.0,3.0,1.0,95.00,Aundh,3,6245.890861
4,1200.0,2.0,1.0,51.00,Aundh Road,2,4250.000000
...,...,...,...,...,...,...,...
12661,1715.0,3.0,3.0,112.00,Parvati Darshan,3,6530.612245
12662,3453.0,4.0,0.0,231.00,Pashan,5,6689.834926
12663,1141.0,2.0,1.0,60.00,Pirangut,2,5258.545136
12664,4689.0,4.0,1.0,488.00,Prabhat Road,4,10407.336319
12665,550.0,1.0,1.0,17.00,Pune Railway Station,1,3090.909091

In [51]:
house.reset_index(inplace=True)

In [52]:
house.drop(columns='index', inplace=True)

C:\Users\Probal\AppData\Local\Temp\ipykernel_16772\1888149268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house.drop(columns='index', inplace=True)

In [53]:
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000
mean,1542.372588,2.511862,1.587780,105.007894,2.607342,6206.213093
std,1181.080695,1.006206,0.808746,134.204258,0.922976,3985.465773
min,300.000000,1.000000,0.000000,9.000000,1.000000,267.829813
25%,1107.000000,2.000000,1.000000,48.450000,2.000000,4199.565960
50%,1285.000000,2.000000,2.000000,68.000000,2.000000,5253.456221
75%,1660.000000,3.000000,2.000000,110.000000,3.000000,6823.529412
max,52272.000000,13.000000,3.000000,2912.000000,13.000000,176470.588235

In [54]:
def remove_outlier_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('site_location'):
        m = np.mean(subdf.price_per_sq_ft)
        st = np.std(subdf.price_per_sq_ft)
        gen_df = subdf[(subdf.price_per_sq_ft > (m-st)) & (subdf.price_per_sq_ft <= (m+st))]
        df_output = pd.concat([df_output, gen_df], ignore_index=True)
    return df_output

house = remove_outlier_sqft(house)
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,10461.000000,10461.000000,10461.000000,10461.000000,10461.000000,10461.000000
mean,1450.477342,2.423095,1.594494,80.710099,2.529968,5341.303057
std,748.579590,0.900466,0.796253,58.718224,0.842005,1554.869125
min,300.000000,1.000000,0.000000,10.000000,1.000000,2000.000000
25%,1100.000000,2.000000,1.000000,48.000000,2.000000,4181.184669
50%,1261.000000,2.000000,2.000000,65.000000,2.000000,5084.745763
75%,1600.000000,3.000000,2.000000,93.865000,3.000000,6278.260870
max,30400.000000,13.000000,3.000000,1824.000000,13.000000,17548.524329

In [55]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('site_location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean':np.mean(bhk_df.price_per_sq_ft),
                'std':np.std(bhk_df.price_per_sq_ft),
                'count':bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sq_ft<(stats['mean'])].index.values)
    return df.drop(exclude_indices, axis='index')

In [56]:
house = bhk_outlier_remover(house)

In [57]:
house.shape

(7341, 7)

In [58]:
house.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,7341.000000,7341.000000,7341.000000,7341.000000,7341.000000,7341.000000
mean,1457.474372,2.420515,1.554284,89.152401,2.465468,5832.833741
std,809.695102,0.965401,0.797101,65.319086,0.906268,1562.799244
min,300.000000,1.000000,0.000000,10.000000,1.000000,2000.000000
25%,1089.000000,2.000000,1.000000,50.000000,2.000000,4800.000000
50%,1250.000000,2.000000,2.000000,74.000000,2.000000,5699.481865
75%,1645.000000,3.000000,2.000000,106.000000,3.000000,6778.042959
max,30400.000000,13.000000,3.000000,1824.000000,13.000000,17548.524329

In [59]:
house.drop(columns='price_per_sq_ft', inplace=True)

In [60]:
house.head()

   total_sqft  bath  balcony   price site_location  bhk
0      1056.0   2.0      1.0   39.07   Alandi Road    2
1      2894.0   4.0      1.0  245.00   Alandi Road    4
2      1084.0   2.0      2.0   50.00   Alandi Road    2
3      1230.0   2.0      2.0   80.00   Alandi Road    2
4      1750.0   3.0      2.0  130.00   Alandi Road    3

In [61]:
house['site_location'].unique()

array(['Alandi Road', 'Ambegaon Budruk', 'Anandnagar', 'Aundh',
       'Aundh Road', 'Balaji Nagar', 'Baner', 'Baner road',
       'Bhandarkar Road', 'Bhavani Peth', 'Bibvewadi', 'Bopodi',
       'Budhwar Peth', 'Bund Garden Road', 'Camp', 'Chandan Nagar',
       'Dapodi', 'Deccan Gymkhana', 'Dehu Road', 'Dhankawadi',
       'Dhayari Phata', 'Dhole Patil Road', 'Erandwane', 'Fatima Nagar',
       'Fergusson College Road', 'Ganesh Peth', 'Ganeshkhind',
       'Ghorpade Peth', 'Ghorpadi', 'Gokhale Nagar', 'Gultekdi',
       'Guruwar peth', 'Hadapsar', 'Hadapsar Industrial Estate',
       'Hingne Khurd', 'Jangali Maharaj Road', 'Kalyani Nagar',
       'Karve Nagar', 'Karve Road', 'Kasba Peth', 'Katraj', 'Khadaki',
       'Khadki', 'Kharadi', 'Kondhwa', 'Kondhwa Budruk', 'Kondhwa Khurd',
       'Koregaon Park', 'Kothrud', 'Law College Road', 'Laxmi Road',
       'Lulla Nagar', 'Mahatma Gandhi Road', 'Mangalwar peth',
       'Manik Bagh', 'Market yard', 'Model colony', 'Mukund Nagar',
       'Mundhawa', 'Nagar Road', 'Nana Peth', 'Narayan Peth',
       'Narayangaon', 'Navi Peth', 'Padmavati', 'Parvati Darshan',
       'Pashan', 'Paud Road', 'Pirangut', 'Prabhat Road',
       'Pune Railway Station', 'Rasta Peth', 'Raviwar Peth',
       'Sadashiv Peth', 'Sahakar Nagar', 'Salunke Vihar', 'Sasson Road',
       'Satara Road', 'Senapati Bapat Road', 'Shaniwar Peth',
       'Shivaji Nagar', 'Shukrawar Peth', 'Sinhagad Road', 'Somwar Peth',
       'Swargate', 'Tilak Road', 'Uruli Devachi', 'Vadgaon Budruk',
       'Viman Nagar', 'Vishrant Wadi', 'Wadgaon Sheri', 'Wagholi',
       'Wakadewadi', 'Wanowrie', 'Warje', 'Yerawada'], dtype=object)

In [62]:
house.describe()

         total_sqft         bath      balcony        price          bhk
count   7341.000000  7341.000000  7341.000000  7341.000000  7341.000000
mean    1457.474372     2.420515     1.554284    89.152401     2.465468
std      809.695102     0.965401     0.797101    65.319086     0.906268
min      300.000000     1.000000     0.000000    10.000000     1.000000
25%     1089.000000     2.000000     1.000000    50.000000     2.000000
50%     1250.000000     2.000000     2.000000    74.000000     2.000000
75%     1645.000000     3.000000     2.000000   106.000000     3.000000
max    30400.000000    13.000000     3.000000  1824.000000    13.000000

Cleaned Data

In [63]:
house.to_csv('cleaned_data.csv')

In [64]:
x = house.drop(columns='price')
y = house['price']

Making the Model

In [65]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [67]:
print(x_train.shape)
print(x_test.shape)

(5872, 5)
(1469, 5)

Applying Linear Regression

In [68]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['site_location']), remainder='passthrough')

In [69]:
scaler = StandardScaler()

In [70]:
lr = LinearRegression()

In [71]:
pipe = make_pipeline(column_trans, scaler, lr)

In [72]:
pipe.fit(x_train, y_train)

c:\Users\Probal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [73]:
y_pred_lr = pipe.predict(x_test)

In [74]:
r2_score(y_test, y_pred_lr)

0.8520083187540555

Applying Lasso Regression

In [75]:
lasso = Lasso()

In [76]:
pipe = make_pipeline(column_trans, scaler, lasso)

In [77]:
pipe.fit(x_train, y_train)

c:\Users\Probal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [78]:
y_pred_lasso = pipe.predict(x_test)

In [79]:
r2_score(y_test, y_pred_lasso)

0.8443004249966077

Applying Ridge Regression

In [80]:
ridge = Ridge()

In [81]:
pipe = make_pipeline(column_trans, scaler, ridge)

In [82]:
pipe.fit(x_train, y_train)

c:\Users\Probal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [83]:
y_pred_ridge = pipe.predict(x_test)

In [84]:
r2_score(y_test, y_pred_ridge)

0.8519597578668519

In [85]:
print("Linear Regression: ", r2_score(y_test,  y_pred_lr))
print("Lasso: ", r2_score(y_test, y_pred_lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge))

Linear Regression:  0.8520083187540555
Lasso:  0.8443004249966077
Ridge:  0.8519597578668519

In [86]:
x_train.columns

Index(['total_sqft', 'bath', 'balcony', 'site_location', 'bhk'], dtype='object')

In [87]:
data = [2345, 2, 2, 'Wagholi', 2]
data = pd.Series(data)

type(data)
data = data.values.reshape(1,5)

In [88]:
type(data)

numpy.ndarray

In [89]:
data.shape

(1, 5)

In [90]:
df = pd.DataFrame(data, columns=['total_sqft', 'bath', 'balcony', 'site_location', 'bhk'])
df

  total_sqft bath balcony site_location bhk
0       2345    2       2       Wagholi   2

In [91]:
pipe_lr = make_pipeline(column_trans, scaler, lr)
pipe_lr.fit(x_train, y_train)

c:\Users\Probal\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [92]:
prediction = pipe_lr.predict(df)
print("Price for your house should be: ", prediction[0]*100000)

Price for your house should be:  14269768.19670255

In [93]:
import pickle

pickle.dump(pipe_lr, open('LinearModel.pkl', 'wb'))